body{
    padding: 50px;
}

.categories-div{
    width: 200px;
    height: 300px;
    background-color: rgb(21, 117, 196);
    cursor: pointer;
    text-align: center;
    color: gold;
}   

.flex-div{
    display: flex;
    width: 1200px;
    margin: auto;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.car-product{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    height: 500px;
    background-color: yellowgreen;
    margin: auto;
    color: blue;
    text-align: center;
    padding: 10px;
}