body{
    margin: 0;
}

p{
    margin: 0;
    margin-bottom: 5px;
    margin-top: 5px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 27px;
    font-weight: bold;
}

.nav{
    width: 100%;
    height: 100px;
    background-color: #ffd007;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logout-icon{
    width: 40px;
    margin-right: 70px;
}

.admin-icon{
    width: 80px;
    margin-left: 70px;
}

.main{
    width: 80%;
    margin: 100px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content{
    width: 250px;
    height: 200px;
    border-radius: 20px;
    background-color: #ffd007;
    box-sizing: border-box;
    padding: 20px;
    cursor: pointer;
}

.icons{
    width: 80px;
}


a{
    text-decoration: none;
}

.users-div{
    width: fit-content;
    margin: 40px auto;
    
}

.different{
    width: 900px;
}

.users-table{
    max-width: 1100px;
    border-collapse: collapse;
    border: none;
    box-shadow: 2px 4px 5px 10px rgba(0,0,0,0.13);
    -webkit-box-shadow: 2px 4px 5px 10px rgba(0,0,0,0.13);
    -moz-box-shadow: 2px 4px 5px 10px rgba(0,0,0,0.13);
    font-family: Arial, Helvetica, sans-serif;
    
}

.users-table tr{
    height: 50px;
}

.users-table th, td{
    padding: 10px;
    text-align: left;
}

.users-table th{
    background-color: #ffd007;
} 

.users-table tr:nth-child(odd) {
    background-color:  rgb(236, 236, 236);
}

.categories-table{
    max-width: 1000px;
    width: 70%;
}

.test{
    max-width: 700px;
    width: 500px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    outline: none;
    background-color: transparent;
    resize: none;
    overflow: hidden;
    font-size: 16px;
}

.image{
    width: 100px;
}

.add-btn{
    margin: 20px 0 0 0px;
    width: 150px;
    height: 40px;
    background-color: #ffd007;
    border-radius: 5px;
    border: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    cursor: pointer;
}

.edit, .delete{
    width: 70px;
    height: 40px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 5px;
    background-color: rgb(4, 132, 238);
    cursor: pointer;
    font-size: 16px;
}

.delete{
    background-color: rgb(238, 4, 4);
}


.modal-overlay {
    display: none;
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.add-div{
    position: relative;
    width: 400px;
    border-radius: 5px;
    margin: 100px auto;
    padding: 20px;
    box-shadow: 2px 4px 5px 10px rgba(0,0,0,0.13);
    -webkit-box-shadow: 2px 4px 5px 10px rgba(0,0,0,0.13);
    -moz-box-shadow: 2px 4px 5px 10px rgba(0,0,0,0.13);
    font-family: Arial, Helvetica, sans-serif;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.close{
    position: absolute;
    bottom: 20px;
    left: 150px;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
}

.submit{
    width: 100px;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
}

input{
    width: 380px;
    height: 40px;
    margin: 10px 0 10px 0;
    font-size: 16px;
}

label{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

select{
    width: 150px;
    height: 25px;
    font-size: 15px;
}

.edit-form{
    width: 400px;
    border-radius: 5px;
    margin: 100px auto;
    padding: 20px;
    box-shadow: 2px 4px 5px 10px rgba(0,0,0,0.13);
    -webkit-box-shadow: 2px 4px 5px 10px rgba(0,0,0,0.13);
    -moz-box-shadow: 2px 4px 5px 10px rgba(0,0,0,0.13);
    font-family: Arial, Helvetica, sans-serif;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.edit-overlay{
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1300px){
    .main{
        width: 55%;
        flex-wrap: wrap;
    }
    
    .content{
        margin-bottom: 30px;
    }
}