.same{
    width: 300px;
    height: 50px;
    border-radius: 25px;
    margin-bottom: 10px;
    border: 1px solid #d0d3d4;
    outline-color: rgb(63, 96, 241);
    outline-width: 1px;
    padding: 20px;
    box-sizing: border-box;
    
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.all{
    width: 1200px;
    max-width: 100%;
    margin: 100px auto;
    display: flex;
    justify-content: space-around;
}

.contact-form{
    padding: 60px 100px 60px 100px;
    background-color: white;
    width: 300px;
    border-radius: 20px;
    border: 1px solid #d0d3d4;
}

.text-us{
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 2px;
    width: 130px;
    margin: auto;
    margin-bottom: 30px;
}

textarea{
    border: 1px solid #d0d3d4;
    outline: none;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.submit{
    width: 100%;
    margin-top: 20px;
    height: 50px;
    border-radius: 25px;
    background-color: #ffce1d;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer
}

.map{
    margin-top: 30px;
}

.map-img{
    position: relative;
    margin-bottom: 40px;
}

.addres-pin{
    position: absolute;
    right: 80px;
    top: 45px;
}

.about-text{
    margin-left: 20px;
    margin-bottom: 20px;
    color: #7e8791;
}

textarea{
    resize: none;
}

@media screen and (max-width: 1000px){
    .map{
        display: none;
    }
}

@media screen and (max-width: 1000px){
    .map{
        display: none;
    }

    .contact-form{
        padding: 60px 10px 60px 20px;
    }
}