body{
    margin: 0;
    margin-top: 5px;
}

html {
    scroll-behavior: smooth;
}

html,body{
    overflow-x: hidden;
}

p{
    margin: 0;
    font-family: 'Noto Sans Georgian', sans-serif;
}

main{
    width: 100%;
    background-color: #f1f3f6;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

.first-div{
    width: 1300px;
    max-width: 100%;
    margin: auto;
    display: flex;
}

.categori{
    width: 330px;
    min-width: 190px;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 20px;
    margin-right: 20px;
}

.categori-text{
    color: #687181;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.categori-text:hover{
    text-decoration: underline;
    color: rgb(24, 88, 228);
}

.apat-logo{
    margin-top: 10px;
    width: 18px;
}

.next-to-categori{
    display: flex;
    width: 100%;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    align-items: flex-end;
    padding-bottom: 40px;
    justify-content: center;
    position: relative;
}

.offers{
    display: flex;
    width: 95%;
    max-width: 100%;
    height: 160px;
    background-color: #f2f4f7;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
    box-sizing: border-box;
}

.offer-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-left: 20px;
    color: #191b1f;
    font-weight: 500;
    font-size: 14px;
    transition: background-color 0.2s;
}

.offer-div:hover{
    background-color: #dedfe2;
}

.offer-logo{
    width: 40px;
    margin-bottom: 5px;
}

.continue-search{
    display: flex;
    width: 1300px;
    margin: 60px auto;
    padding-left: 5px;
    align-items: center;
    margin-bottom: 0;
}

.continue-text{
    font-size: 23px;
    font-weight: bold;
    margin-right: 20px;
}

.continue-button{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    font-size: 14px;
    padding: 8px 25px 8px 25px;
    font-weight: bold;
}

.continue-button1{
    background-color: #e6e9ef;
    margin-left: 10px;
}

.continue-button1:hover{
    background-color: rgb(255, 255, 255);
}

.saaxalwlo-produqcia{
    width: 1300px;
    max-width: 100%;
    margin: 30px auto;
}

.saaxalwlo-div{
    width: 350px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 20px;
    color: #2b2f36;
    font-weight: bold;
    cursor: pointer;
}


.trade{
    width: 1300px;
    max-width: 100%;
    margin: 60px auto;
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 50px;
    border-radius: 30px;
    box-sizing: border-box;
    font-family: 'Noto Sans Georgian', sans-serif;
}

.trade-photo{
    width: 600px;
}

.text1{
   font-size: 25px;
   font-weight: bold;
}

.text2{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 18px;
    color: #8998b1;
}

.trade-text{
    width: 480px;
    margin-left: 40px;
}

.sighn-in-a{
    text-decoration: none;
}

.start{
    background-color: #ffd007;
    padding: 10px 20px 10px 20px;
    border-radius: 8px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.vip{
    display: flex;
    flex-wrap: wrap;
    width: 1300px;
    max-width: 100%;
    background-color: rgb(255, 255, 255);
    margin: auto;
    justify-content: space-between;
    padding: 30px 20px 50px 30px;
    border-radius: 30px;
    box-sizing: border-box;
}

.super-vip{
    display: flex;
    width: 2000px;
    margin-bottom: 25px;
    align-items: center;
}

.vip-photo{
    width: 125px;
    height: 130px;
    border-radius: 10px;
}


.vip-title{
    font-weight: bold;
    color: #333436;
    margin-top: 10px;
    margin-bottom: 10px;
}

.vip-price{
    color: #8e9ab1;
    font-size: 14px;
    font-weight: bolder;
}

.vip-button{
    padding: 5px 8px 5px 8px;
    border-radius: 15px;
    background-color: #ffd007;
    color: white;
    font-size: 13px;
}

.vip-text{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
}

.gancxadeba{
    color: #5978f9;
    font-size: 13px;
    font-weight: bold;
    text-decoration: underline;
}

.vip-product{
    cursor: pointer;
}

.vip-product:hover .vip-price{
    color: rgb(42, 42, 211);
}


.vip-product:hover .vip-title{
    color: rgb(42, 42, 211);
    text-decoration: underline;
}

.category{
    display: flex;
    width: 1300px;
    max-width: 100%;
    margin: 100px auto;
    border-radius: 30px;
    box-sizing: border-box;
    justify-content: space-between;
}

.div-photo{
    width: 170px;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s;
}

.div-photo:hover{
    background-color: #ffd007;
}

.category-text{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.foryou{
    display: flex;
    width: 1300px;
    max-width: 100%;
    margin: auto;
    justify-content: space-between;
}

.left{
    display: flex;
}

.g1{
    color: #687181;
    font-size: 12px;
}

.prev-next-button{
    width: 35px;
    height: 35px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
}

.foryou-div{
    background-color: transparent;
    flex-wrap: nowrap;
    padding: 0;
    padding-top: 35px;
}

.foryou-photo{
    height: 210px;
    width: 210px;
    max-width: 100%;
    max-height: 100%;
}

.books{
    width: 1300px;
    max-width: 100%;
    margin: 40px auto;
    display: flex;
}

.book-img{
    position: relative;
}

.book-photo{
    border-radius: 20px;
}

.book-text{
    position: absolute;
    top: 40px;
    left: 60px;
    color: white;
    font-size: 42px;
    font-family: 'Noto Sans Georgian', sans-serif;
    font-weight: bold;
}



.book-product{
    margin-left: 300px;
    display: flex;
    flex-wrap: wrap;
}

.list{
    background-color: rgb(255, 255, 255);
    display: flex;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.list:hover .book-title{
    color: rgb(61, 49, 230);
    text-decoration: underline;
}

.book-img{
    width: 180px;
}

.book-title{
    width: 150px;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    color: #424752;
    transition: color 0.2s;
}

.about-book{
    margin-left: 20px;
}

.book-price{
    margin-top: 10px;
    font-size: 17px;
    font-weight: bold;
    color: #464749;
}

.raodenoba{
    text-decoration: none;
    font-size: 14px;
}

.show-all{
    font-size: 26px;
    margin-bottom: 15px;
}

.about2{
    padding: 30px 61px 30px 61px;
    text-align: center;
}

.list2:hover{
    background-color: #acadaf;
}

.shops{
    display: flex;
    width: 1300px;
    margin: auto;
    align-items: center;
}

.shops-text{
    font-size: 20px;
    font-weight: bold;
    margin-right: 25px;
}

.shops-photo{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: contain;
    background-color: rgb(255, 255, 255);
    transition:  1s;
}

.shop-title{
    font-size: 14px;
    color:#8998b1;
}

.shop-product{
    text-align: center;
}

.shop-product:hover .shops-photo{
    border: 2px solid #8998b1;
    transform: scale(1.1);
    box-sizing: border-box;
}

.foryou-div{
    margin-bottom: 40px;
}

.sells-photo{
    width: 180px;
    border: 1px solid #dfe1e6;
    border-radius: 10px;
    display: block;
}

.container {
    position: relative;
    width: 100%;
    cursor: pointer;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #2a2e3d;
    opacity: 0.9;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    border-radius: 10px;
}

.container:hover .overlay {
    height: 100%;
}

.price1 {
    color: rgb(3, 209, 3);
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.price2 {
    color: white;
    font-weight: bold;
    font-size: 16px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-decoration:line-through ;
}
  

.sells{
    width: 1300px;
    max-width: 100%;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
}

.sells1{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    position: relative;
}

.sells-title{
    width: 250px;
    position: absolute;
    top: 360px;
    left: 5px;
}

.sells-name{
    font-weight: 600;
    margin-bottom: 25px;
}

.procenti{
    float: left;
    background-color: #0ec604;
    border-radius: 20px;
    padding: 5px 7px 5px 7px;
    color: white;
    font-size: 13px;
    margin-right: 10px;
}

.momsaxureba{
    margin-top: 150px;
}

.moms-img{
    width: 100px;
    height: 90px;
    border-radius: 10px;
}

.moms-offer{
    display: flex;
    width: 1300px;
    max-width: 100%;
    margin: 40px auto;
}

.moms-type{
    font-size: 14px;
    color: #8998b1;
}

.moms-title{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #0d0e0f;
}

.moms-price{
    font-size: 13px;
    color: #8998b1;
    font-weight: bold;
}



.last-part{
    height: 400px;
    background-color: rgb(255, 255, 255);
}

.how{
    width: 1300px;
    margin: auto;
    padding-top: 120px;
}

.buy-online{
    width: 290px;
    margin: auto;
}

.explane-text{
    width: 160px;
    font-size: 13px;
    font-weight: 600;
    color: #333436;
}

.explane{
    width: 1000px;
    max-width: 100%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}

.way{
    text-align: center;
    position: sticky;
}

.scroll{
    width: 100%;
    background-color: #ffd007;
    color: white;
    font-size: 28px;
    padding-top: 10px;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer-div{
    padding-top: 40px;
    display: flex;
    width: 1300px;
    max-width: 100%;
    margin: auto;
    justify-content: space-between;
}

.top-category{
    display: flex;
    width: 630px;
    justify-content: space-between;
}

.footer-title{
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 14px;
    font-weight: bold;
}

.footer-text{
    font-size: 13px;
    color: #8998b1;
}

.section2{
    margin-top: 80px;
}

.soc-photos{
    width: 15px;
}

.soc-button{
    background-color: #f1f3f6;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 5px;
}

.georgia{
    background-color: #373e4b;
}

.language{
    width: 30px;
}

.platform{
    background-color: transparent;
    float: left;
    position: absolute;
}

.platform1{
    background-color: transparent;
    float: left;
    position: absolute;
    left: 100px;
    top: 10px;
}

.download{
    position: relative;
}

.plat-photos{
    width: 90px;
}

.plat-photos1{
    width: 110px;
}

.start2{
    display: none;
}

.footer-bar2{
    display: none;
}

.categori-a{
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 1190px){
    .offers{
        padding-left: 1px;
        transition: 0.5s;
    }
}

@media screen and (max-width: 1140px){
    .offers{
        flex-wrap: wrap;
        height: 270px;
        padding-top: 21px;
        padding-bottom: 10px;
    }

    .off1{
        width: 47%;
    }
}

@media screen and (max-width: 1060px){
    .offers{
        flex-wrap: wrap;
        height: 270px;
        padding-top: 21px;
        padding-bottom: 10px;
        padding-right: 5px;
    }

    .off1{
        width: 45%;
    }
}


@media screen and (max-width: 949px){
    .categori{
        display: none;
        transition: 0.5s;
    }

    .off1{
        width: 190px;
    }

    .offers{
        flex-wrap: nowrap;
        height: 160px;
        padding-left: 10px;
    }
}

@media screen and (max-width: 750px){
    .offers{
        flex-wrap: wrap;
        height: 270px;
        padding-top: 21px;
        padding-bottom: 10px;
        padding-right: 5px;
    }

    .off1{
        width: 45%;
    }
}

@media screen and (max-width: 600px){
    .offers{
        margin-top: 0;
        flex-direction: column;
        height: 500px;
        width: 80%;
        padding-top: 21px;
        padding-bottom: 10px;
        padding-right: 5px;
    }

    .off1{
        width: 45%;
        margin: auto;
    }

    .next-to-categori{
        padding-top: 10px;
        padding-bottom: 20px;
        height: 520px;
        width: 93%;
    }

    .continue-search{
        flex-wrap: wrap;
    }

    .continue-text{
        width: 100%;
        margin-bottom: 20px;
    }
    
    .saaxalwlo-produqcia{
        width: 93%;
        margin: 0;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .saaxalwlo-div{
        width: 80%;
    }

    .trade{
        width: 93%;
        flex-wrap: wrap;
        margin: 0;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 25px;
        margin-bottom: 40px;
    }

    .trade-photo{
        width: 100%;
    }

    .trade-text{
        margin-left: 0;
    }

    .text1{
        font-size: 16px;
    }

    .text2{
        font-size: 13px;
    }

    .start{
        width: 98%;
    }

    .vip-product2{
        display: none;
    }

    .vip{
        width: 93%;
        margin-left: 0;
        margin-bottom: 40px;
    }

    .start1{
        display: none;
    }

    .start2{
        display: block;
        margin-top: 20px;
    }

    .category2{
        width: 93%;
        margin-left: 0;
        flex-wrap: wrap;
        margin-bottom: 0;
    }

    .category-photo2{
        width: 50%;
        align-items: center;
        margin-bottom: 20px;
    }

    .foryou2{
        margin-top: 20px;
    }

    .left2{
        width: 93%;
        flex-wrap: wrap;
    }

    .foryou-div2{
        width: 93%;
        flex-wrap: wrap;
    }

    .vip-product3{
        width: 45%;
        margin-bottom: 20px;
    }

    .foryou-photo2{
        height: 160px;
    }

    .books2{
        width: 93%;
        margin: 0;
        flex-wrap: wrap;
    }

    .book-img2{
        width: 100%;
    }

    .book-photo{
        width: 100%;
    }

    .book-product2{
        margin: 0;
        margin-top: 10px;
        width: 90%;
    }

    .list3{
        width: 100%;
    }

    .shops-photo{
        width: 70px;
        height: 70px;
    }

    .shops3{
        width: 93%;
        margin-left: 0;
    }

    .shop-product3{
        display: none;
    }

    .sells3{
        display: none;
    }

    .sells{
        width: 93%;
        margin-left: 0;
    }

    .sells1{
        width: 100%;
    }

    .container3{
        width: 100%;
    }

    .sells-photo3{
        width: 90%;
    }

    .moms-offer{
        flex-wrap: wrap;
        width: 93%;
    }

    .list4{
        width: 100%;
    }

    .last-part{
        flex-wrap: wrap;
    }

    .how{
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        justify-content: center;
    }

    .last-part{
        height: 800px;
    }

    .explane{
        flex-wrap: wrap;
        margin: auto;
        width: 160px;
    }

    .way{
        margin-top: 50px;
    }

    .top-category{
        display: none;
    }

    .footer-bar{
        display: none;
    }

    .footer-bar2{
        display: block;
    }

    footer{
        padding-left: 20px;
    }
}

