/* #answer1, #answer2, #answer3, #answer4{
    margin: 0;
    width: 10px;
    height: 10px;
} */

#form{
    border: 2px solid red;
    width: fit-content;
    padding: 10px;
}

label{
    font-size: 18px;
}

#openQuestion{
    width: 550px;
    height: 30px;
}

.btn{
    width: 550px;
    height: 40px;
    font-size: 18px;
    color: red;
}