#form{
    border: 2px solid red;
    width: fit-content;
    padding: 10px;
}

label{
    font-size: 18px;
}

input{
    width: 300px;
    height: 30px;
}

::placeholder{
    color: rebeccapurple;
}

button{
    width: 300px;
    height: 30px;
}
