.main{
    border: solid 2px red;
    width: 700px;
    margin: auto;
    padding: 20px;
}

input{
    margin-top: 5px;
    margin-bottom: 10px;
    width: 700px;
    min-height: 40px;
    font-size: 20px;
}

label{
    font-size: 18px;
}

button{
    margin-top: 20px;
    width: 709px;
    height: 50px;
    background-color: rgb(176, 238, 61);
    cursor: pointer;
}

.input-container {
    width: 700px;
}

#auto-resize {
    width: 100%;
    height: 40px;
    resize: none;
}