.main{
    display: flex;
    margin: 20px auto;
    width: 1000px;
}


.first-div, .second-div{
    width: 500px;
    height: 323px;
    border: solid 2px red;
}

.second-div{
    position: relative;
}

a{
    color: red;
    font-size: 20px;
    text-decoration: none;
}

.items{
    margin-bottom: 1px;
    height: 38.5;
    padding: 20px;
    border-bottom: 1px solid grey;
}

.car-images{
    width: 500px;
    height: 323px;
    /* opacity: 0.5; */
}

.about-cars{
    position: absolute;
    color: red;
    top: 5px;
    left: 20px;
    z-index: 2;

}